@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply text-base;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer base {
  .px-container {
    @screen sm {
      @apply px-4
    }

    @screen lg {
      @apply px-2
    }
  }


}

.tempGrid {
  grid-template-columns: 1fr 220px 1fr;
  align-items: center;
}

.tempGradient {
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
  background-image: linear-gradient(-225deg, #FF059C 0%, #7C64D5 48%, #4CC3FF 100%);
}

.button\:header-menu {
  @apply px-4 h-8 flex items-center text-sm text-white rounded-md;
}

.button\:header-submenu {
  @apply px-2 h-8 flex items-center text-sm text-white rounded-md hover:bg-white/[.1]
}

.link\:text-with-arrow {
  @apply flex items-center text-sm underline underline-offset-2;

  &:hover {
    @apply text-link-blue-primary;
  }
}

